allosaurus==1.0.2
editdistance==0.6.2
filelock==3.12.4
Jinja2==3.1.2
llvmlite==0.41.0
MarkupSafe==2.1.3
mpmath==1.3.0
munkres==1.1.4
networkx==3.1
numba==0.58.0
numpy==1.25.2
panphon==0.20.0
PyYAML==6.0.1
regex==2023.8.8
resampy==0.4.2
scipy==1.11.3
sympy==1.12
torch==2.0.1
typing_extensions==4.8.0
unicodecsv==0.14.1
